#thirdDiv{ 
    height: 600px;
    width: 500px;
    background-color: rgb(171, 100, 173);
    padding: 50px;
    border: 5px solid rgb(255, 0, 212);
}
.divClass{

}

#spanId{
    font-size: 18px;
    margin: 50px;

}